<%- include('partes/inicioHead') %>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="/css/painelAdmin.css">
    <%- include('partes/menuNavecacao') %>

        <div class="admin-container">

            <%- include('partes/adminMenu') %>

                <div id="retangulo-admin">
                    <form action="POST" class="formulario">
                        <form action="POST" class="formulario">
                            <label for="senha">Senha atual: </label>
                            <input type="senha" nome="senha" placeholder="Digite sua senha atual ">
                            <br>
                            <label for="novaSenha">Nova senha: </label>
                            <input type="senha" nome="novaSenha" placeholder="Digite a nova senha  ">
                            <br>
                            
                    
                        <button>Enviar</button>

                    </form>

                </div>

        </div>



        <%- include('partes/footer') %>