<%- include('partes/inicioHead') %>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="/css/painelAdmin.css">
    <%- include('partes/menuNavecacao') %>

        <div class="admin-container">

            <%- include('partes/adminMenu') %>

                <div id="retangulo-admin">
                    <form method="post" class="formulario">
                        <label for="email">Email: </label>
                        <input type="email" name="email" placeholder="Digite seu email">
                        <br>
                        <label for="senha">NovoEmail: </label>
                        <input type="email" name="novoEmail" placeholder="Digite o seu novo email">
                        <br>
                        <br>
                        <button >enviar</button>

                    </form>

                </div>

        </div>



        <%- include('partes/footer') %>