<%- include('partes/inicioHead') %>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="css/painelAdmin.css">
    <%- include('partes/menuNavecacao') %>

        <div class="admin-container">
            <%- include('partes/adminMenu') %>
                <div id="retangulo-admin">
                    <h2>Seja Bem-Vindo ao Sistema de Gerenciamento </h2>
                    </form>
                </div>
        </div>
        <%- include('partes/footer') %>