<%- include('partes/inicioHead') %>
    <title>Painel Admin</title>
    <link rel="stylesheet" href="/css/painelAdmin.css">
    <%- include('partes/menuNavecacao') %>

        <div class="container">

            <%- include('partes/adminMenu') %>

                <div id="retangulo-admin">
                    <form action="POST" class="formulario">
                        
                <label for="email">E-mail atual: </label>
                        <input type="email" nome="email" placeholder="Digite seu e-mail atual ">
                        <br>
                <label for="novoEmail">Novo E-mail: </label>
                        <input type="email" nome="novoEmail" placeholder="Digite o novo e-mail ">
                        <br>
                        
                        <button>Enviar</button>
                    </form>

                </div>

        </div>



        <%- include('partes/footer') %>