<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("./partials/header") %>
    <main>
        <section class="contato">
            <div class="container">
                <div >
                    <h3><%= mensagemErro %></h3>
                </div>
            </div>
        </section>
    </main>
    <%- include('partes/footer') %>
</body>

</html>