<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>E-Commerce | Certificados</title>
    <link rel="stylesheet" href="../css/certificados.css">
</head>

<body>
    <%- include('partes/menuNavecacao') %>
<main class="conteudo">   
        <input type="button" clss="buttPdf" value="Gerar PDF" onclick="gerarPdf()">
    <h1 id="titulo">Certificado</h1>
    <section class="certificado">
        <article class="certCabecalho">
            <div class="certLogo">
                <img src="/images/empresa_logo.png" alt="Logo da Empresa" width="150px">
            </div>
            <div class="certParceiro_1">parceria</div>
            <div class="certParceiro_2">parceria</div>
            <div class="certParceiro_3">parceria</div>
            <div class="certParceiro_4">parceria</div>
        </article>
        <div class="certTitulo">CERTIFICADO</div>
        <article class="certConteudo">
            Certificaos que o alun(a) <strong>Fulano De Tal</strong> concluiu o curso de <strong>Depilação Profissional</strong>, ministrado por <strong>Maria Fulana</strong>, com carga horária de <strong>400</strong> horas em <strong>30 de Fevereiro de 2015</strong>.
        </article>
        <article class="certAss">
            <div class="ass_1">
                <hr size="1" width="70%"><br>
                Aluno(a)
            </div>
            <div class="ass_2">
                <hr size="1" width="70%"><br>
                Ministrante
            </div>
            <div class="ass_data">
                <hr size="1" width="40%"><br>
                Data
            </div>
        </article>
        <article class="certRodape">
            <div class="certCnpj">CNPJ</div>
            <div class=certEndereco>Endereço</div>
            <div class="certCodValidacao">Cod Valicação</div>
            <div class="certEmissao">data de Emissão</div>
        </article>
    </section>
</main>
    <script>
        JSON.parse('./e-commerce_cursos_PI\public\css\certificados.css')
        function gerarPdf() {
            alert('oi')
        const certPDF = document.querySelector('.certificado').innerHTML;
        const certWin = window.open('','_blank','width:800, height:600');
        certWin.document.write("<html><head>");
        certWin.document.write("<title>Certificado PDF</title></head>");
        certWin.document.write("<body>");
        certWin.document.write(certPDF);
        certWin.document.write("</body></html>");
        // certWin.print()
        // certWin.document.close();

    }
    </script>
    <%- include('partes/footer') %>
</body>
</html>