<%- include('partes/inicioHead') %>

<title>Cadastro</title>
<link rel="stylesheet" href="css/cadastroUsuario.css">
</head>
<body>
    <%- include('partes/menuNavecacao') %>
        <main>
            <section id="sessao1"> 
                <div id="cadastro-se"> Cadastre-se</div>
            </section>
            <div class="formulario" id="centralizar">
                <form action="">
                    <fieldset class="grupo">
                        <div class="campo">
                            <label for="nomecompleto"> </label>
                            <input type="text" class="nomecompleto" size="50" name="nome" requerid
                                placeholder="Digite seu Nome">
                        </div>
                        <div class="campo">
                            <label for="dataNascimento"> </label>
                            <input type="data" class="dataNascimento" size="50" name="nome" requerid
                                placeholder="Data Nascimento">
                        </div>
                        <div class="campo">
                            <label for="email"></label>
                            <input type="email" class="email" name="email" size="50" requerid
                                placeholder="Digite seu E-mail">
                        </div>
                        <div class="campo">
                            <label for="tel"></label>
                            <input type="tel" class="telefone" name="telefone" size="50" requerid
                                placeholder="Digite seu Contato">
                        </div>
                        <div class="campo">
                            <label for="andress"></label>
                            <input type="text" class="endereço" name="endereco" size="50" requerid
                                placeholder="Endereço">
                        </div>
                        <div class="campo">
                            <label for="text"></label>
                            <input type="number" class="numeroEndereco" name="numeroEndereco" size="50" requerid
                                placeholder="Numero">
                        </div>
                        <div class="campo">
                            <label for="text"></label>
                            <input type="cidade" name="cidade" class="cidade" size="50" required placeholder="Cidade">
                        </div>
                        <div class="campo">
                            <label for="text"></label>
                            <input type="estado" class="estado" size="50" required placeholder="Estado">
                        </div>

                    </fieldset>
                    <fieldset class="grupo">
                        <div class=" campo">
                            <label for="pass"></label>
                            <input type="password" name="password" id="pass" inputmode="numeric" minlength="8"
                                autocomplete="current-password" required placeholder="Crie uma senha">
                        </div>
                     
                    </fieldset>
                    
                </form>
                <div class="campo" id="termos">
                    <input type="checkbox" value="aceite" required>
                    <strong>Concordo com os termos de uso da nossa plataforma </strong><br><br>
                    <button class="botao" type="submit"> FINALIZAR CADASTRO </button>
    </div>
        </main>
</body>
<%- include('partes/footer') %>

    