<title>Login</title>
<link rel="stylesheet" href="css/login.css">

<body>
    <%- include('partes/menuNavecacao') %>
        <main>
            <section id="sessao1"> 
                <div id="cadastro-se"> ACESSE SEU PORTAL</div>
            </section>
            <div class="formulario" id="centralizar">
                <form action="">
                            <div class="campo">
                            <label for="email"></label>
                            <input type="email" class="email" name="email" size="50" requerid
                                placeholder="Digite seu E-mail">                          
                            <label for="pass"></label>
                            <input type="password" name="password" id="pass" inputmode="numeric" minlength="8"
                                autocomplete="current-password" required placeholder="Senha">
                                
                                <button class="botao" type="submit"> ACESSAR </button>
                        </div>
                                          
                    </fieldset>
                    
                </form>
        </div>
<<<<<<< HEAD
        <div class="form-control">
            <label for="title">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="title">Senha</label>
            <input type="text" name="senha" id="senha">
        </div>
        <button class="btn" type="submit">Cadastrar </button>
    </form>
    <footer>
        <h3>Fale Conosco</h3>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
        </ul>
        <h4>Desenvolvedor: Vamo que vamo</h4>
    </footer>
    
=======
        </main>
>>>>>>> 17241e7e996571016f246956bd886bf3fbb8ead0
</body>
<%- include('partes/footer') %>

    