<%- include('partes/inicioHead') %>
    <link rel="stylesheet" href="../css/certificados.css">
</head>
<body>
    <%- include('partes/menuNavecacao') %>
<main class="conteudo">   
    <input type="button" id="buttPdf" value="Gerar PDF" onclick="gerarPDF">
    <h1 id="titulo">Certificados</h1>
    
    <div id="media-400">
        <p>Tente girar a tela</p>
        <img src="images/media_resp/imagens-e-gifs-de-vire-o-celular-0.gif" alt="girar">
    </div>
    
    <section id="certificado">
        <article class="certCabecalho">
            <div id="certLogo">
                <img id="certLogoImg" src="/images/certificado/empresa_logo.png" alt="Logo da Empresa">
            </div>
            <div class="certParceiro" >
                <img id="parc1" img src="/images/certificado/MEC.png" alt="MEC">
            </div>
            <div class="certParceiro" id="parc2">parceria</div>
            <div class="certParceiro" id="parc3">parceria</div>
            <div class="certParceiro" id="parc4">parceria</div>
            <div class="certParceiro" id="parcN">parceria</div>
        </article>
        
        <article class="certConteudo">&nbsp;&nbsp;&nbsp;&nbsp;
            <h1 class="certTitulo">CERTIFICADO</h1>
            Certificaos que o alun(a) <strong>Fulano De Tal</strong> concluiu o curso de <strong>Depilação Profissional</strong>, ministrado por <strong>Maria Fulana</strong>, com carga horária de <strong>400</strong> horas em <strong>30 de Fevereiro de 2015</strong>. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, dolores quis totam illo eos facilis consequatur repellat praesentium nobis nesciunt! Atque vel repellendus dolor dolores accusantium exercitationem, laboriosam iure doloribus.
        </article>
        <article class="certAss">
            <div id="ass_1">
                <hr>
                Aluno(a)
            </div>
            <div id="ass_data">
                <hr>
                Data
            </div>
            <div id="ass_2">
                <hr>
                Ministrante
            </div>
            
        </article>
        <article class="certRodape">
            <div class="certCnpj">CNPJ</div>
            <div class=certEndereco>Endereço</div>
            <div class="certCodValidacao">Cod Valicação</div>
            <div class="certEmissao">data de Emissão</div>
        </article>
    </section>
    <script>
        gerarPDF = '/gerarPDF'
    </script>
</main>
    <%- include('partes/footer') %>
</body>
</html>