<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cursosInd.css">
    <title>Document</title>
</head>
<body>
    <main class="conteudo">
        
<!-- CURSO 01 -->

        <section name="harm_facial" class="frameCur" id="cur_harm_facial" >
            <div class="curContent">
                <h1>HARMONIZAÇÃO FACIAL</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, earum! Dicta odit deleniti doloribus aut ipsa, quo repellat placeat sint eum molestiae tempora repudiandae voluptates rerum omnis, itaque ad ullam?</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li><strong>Fase&nbsp;1:&nbsp;</strong>Lorem ipsum dolor.</li>
                        <li><strong>Fase&nbsp;2:&nbsp;</strong>Non neque accusantium laudantium!</li>
                    </ul>
                </p>
                <span class="pValor"><strong>R$ 100,00</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <a class="linkCarrinho" href="#">
                    <img src="/images/cursos/carrinho.png" alt="img_carrinho" id="imgCarrinho"><br>
                    <span class="addCarrinho">Adicionao ao carrinho</span>
                </a>
                
            </div>
        </section>
        
<!-- CURSO 02 -->

        <section name="depilacao" class="frameCur" id="cur_depilacao" >
            <div class="curContent">
                <h1>DEPILAÇÃO</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, dolorem minus eaque iste ducimus deleniti. Corrupti, dolores officia vitae eaque, aut nesciunt suscipit dolorum facere sapiente est totam, repellat quod. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellendus deleniti delectus doloremque reiciendis. Cupiditate minus odit, facere numquam, totam nostrum aut temporibus, nemo culpa nesciunt dicta corporis explicabo illo.</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li>
                            <strong>Fase&nbsp;1:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;2:&nbsp;</strong>Nam corporis, odit officiis placeat quasi, aut quis repudiandae laboriosam blanditiis cum libero possimus eius totam necessitatibus nihil quibusdam itaque facilis voluptatum.
                        </li>
                    </ul>
                </p>
                <span class="pValor"><strong>GRÁTIS</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <a class="linkCarrinho" href="#">
                    <img src="/images/cursos/carrinho.png" alt="img_carrinho" id="imgCarrinho"><br>
                    <span class="addCarrinho">Adicionao ao carrinho</span>
                </a>
            </div>
        </section>

<!-- CURSO 03 -->

        <section name="trat_facial" class="frameCur" id="cur_trat_facial" >
            <div class="curContent">
                <h1>TRATAMENTO FACIAL</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusantium amet accusamus? Iure est autem et ad eos, ratione vitae aliquam. Consequuntur deleniti perferendis maxime sed perspiciatis porro sapiente libero.</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li>
                            <strong>Fase&nbsp;1:&nbsp;</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas fugit qui! Quibusdam autem odit, reiciendis sapiente dolor corrupti labore animi accusamus modi quod. Suscipit natus voluptas non quo voluptatem. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;2:&nbsp;</strong>Quibusdam autem odit, reiciendis sapiente dolor corrupti labore animi accusamus modi quod. Suscipit natus voluptas non quo voluptatem. 
                        </li>
                    </ul>
                </p>
                <span class="pValor"><strong>GRÁTIS</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <a class="linkCarrinho" href="#">
                    <img src="/images/cursos/carrinho.png" alt="img_carrinho" id="imgCarrinho"><br>
                    <span class="addCarrinho">Adicionao ao carrinho</span>
                </a>
            </div>
        </section>

<!-- CURSO 04 -->

        <section name="sobrancelha" class="frameCur" id="cur_sobrancelha" >
            <div class="curContent">
                <h1>SOBRANCELHA</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo consequatur ab neque laudantium quis numquam, dolor odio, ipsam quod, voluptatibus expedita placeat a minima dolorem dolores tenetur magni vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam doloremque repellat delectus iure voluptates et porro beatae voluptatum accusamus illum fugit voluptate laudantium at praesentium, consequatur sapiente assumenda, consectetur blanditiis.</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li>
                            <strong>Fase&nbsp;1:&nbsp;</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas fugit qui! Quibusdam autem odit, reiciendis sapiente dolor corrupti labore animi accusamus modi quod. Suscipit natus voluptas non quo voluptatem. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;2:&nbsp;</strong>Quibusdam autem odit, reiciendis sapiente dolor corrupti labore animi accusamus modi quod. Suscipit natus voluptas non quo voluptatem. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;3:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laborum adipisci expedita at deserunt praesentium? Doloremque amet sunt facilis quam quaerat maxime, vitae obcaecati officia fugiat dolor, nemo, quisquam optio. 
                        </li>
                    </ul>
                </p>
                <span class="pValor"><strong>R$ 1.200,00</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <a class="linkCarrinho" href="#">
                    <img src="/images/cursos/carrinho.png" alt="img_carrinho" id="imgCarrinho"><br>
                    <span class="addCarrinho">Adicionao ao carrinho</span>
                </a>
            </div>
        </section>

<!-- CURSO 05 -->
        <section name="maquiagem" class="frameCur" id="cur_maquiagem" >
            <div class="curContent">
                <h1>MAQUIAGEM</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Quibusdam doloremque repellat delectus iure voluptates et porro beatae voluptatum accusamus illum fugit voluptate laudantium at praesentium, consequatur sapiente assumenda, consectetur blanditiis.</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li>
                            <strong>Fase&nbsp;1:&nbsp;</strong>Iste, explicabo. Beatae, autem! Quas hic nam, reiciendis sit quis dolorem minima dolores! Architecto vero velit aliquam, dolorem nostrum veritatis et nobis.
                        </li>
                        <li>
                            <strong>Fase&nbsp;2:&nbsp;</strong>Quibusdam autem odit, reiciendis sapiente dolor corrupti labore animi accusamus modi quod. Suscipit natus voluptas non quo voluptatem. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;3:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, perspiciatis voluptatibus nemo, asperiores est non, vel laborum velit reprehenderit voluptas adipisci ut nesciunt cupiditate voluptates eaque odio cum ad blanditiis. Omnis laborum adipisci expedita at deserunt praesentium? Doloremque amet sunt facilis quam quaerat maxime, vitae obcaecati officia fugiat dolor, nemo, quisquam optio. 
                        </li>
                        <li>
                            <strong>Fase&nbsp;4:&nbsp;</strong>Doloremque amet sunt facilis quam quaerat maxime, vitae obcaecati officia fugiat dolor, nemo, quisquam optio. 
                        </li>
                    </ul>
                </p>
                <span class="pValor"><strong>R$ 1.200,00</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <a class="linkCarrinho" href="#">
                    <img src="/images/cursos/carrinho.png" alt="img_carrinho" id="imgCarrinho"><br>
                    <span class="addCarrinho">Adicionao ao carrinho</span>
                </a>
            </div>
        </section>

    </main>
</body>
</html>