
<%- include('partes/inicioHead') %>
<link rel="stylesheet" href="/css/cursos.css">
</head>
<body>
<%- include('partes/menuNavecacao') %>
    <main class="conteudo">

        <h1 id="title">Cursos</h1>
        
        <h2>Todos os Cursos</h2>
        <hr>        
    <section name="cursosTodos" class="curBox" id="moveTodo">
        
        <div class="moveButtons" id="btnTodoDiv">
            <input class="boxToLeft" id="btnTodoL" type="button" value="<" onmouseover="moveToLeft(btnTodoL, btnTodoR)" onmouseout="stopMove()">
            <input class="boxToRight" id="btnTodoR" type="button" value=">" onmouseover="moveToRight(btnTodoR, btnTodoL)" onmouseout="stopMove()" onmouseenter="enableLeftMove(btnTodoL)">
        </div>

            <article class="curContainer" id="cur_harm_facial" > 
                <div class="curImg">
                    <img src="/images/cursos/cur_harm_facial.png" alt="Harmonização Facial">
                </div>
                <div class="curInfo">
                    <a onclick="toFrame('#cur_harm_facial', '#title_harm_facial')">
                        <p class="curNome" id="title_harm_facial">Harmonização Facial</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>50h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Maria Fernanda da Graça</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;100,00</strong></p>
                </div>
            </article>
            
            <article class="curContainer" id="cur_depilacao">
                <div class="curImg">
                    <img src="/images/cursos/cur_depilacao.png" alt="Depilação">
                </div>
                    <div class="curInfo">
                        <a onclick="toFrame('#cur_depilacao', '#title_depilacao')">
                            <p class="curNome" id="title_depilacao">Depilação</p>
                        </a>
                        <p class="curCarga">Carga Horária:&nbsp;<strong>40h</strong></p>
                        <p class="curTutor">Professor(a):&nbsp;<strong>José da Silva Prado</strong></p>
                        <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                    </div>
            </article>

            <article class="curContainer" name="trat_facial">
                <div class="curImg">
                    <img src="/images/cursos/cur_trat_facial.png" alt="Tratamento Facial"/>
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Tratamento Facial</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>30h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Josiane Fernandes da Cunha</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                </div>
            </article>   
                
            <article class="curContainer" name="sobrancelha">
                <div class="curImg">
                    <img src="/images/cursos/cur_sobrancelha.png" alt="">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Sobrancelha</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>100h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Adalberta Reginalda</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;1200,00</strong></p>
                </div>
            </article>

            <article class="curContainer" name="maquiagem">
                <div class="curImg">
                    <img src="/images/cursos/cur_maquiagem.png" alt="">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Maquiagem</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>200h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Aderbaldo Garcia</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;500,00</strong></p>
                </div>
            </article>           
    </section>

    <!-- Painel inferior com descrição detalhada dos cursos -->
    <section name="cursoInd" id="curInd">
    <iframe id="curFrame">
        <div id="frameCurInd">
            
        </div>
    </iframe>
    </section>

        <h2>Cursos Gratuítos</h2>
        <hr>
    <section name="cursosGratuitos" class="curBox" id="moveGrat">
        
        <div class="moveButtons" id="moveGrat">
            <input class="boxToLeft" id="btnGratL" type="button" value="<" onmouseover="moveToLeft(btnGratL)"  onmouseout="stopMove()" ontouchend="stopMove()">
            <div class="spaceBetween"></div>
            <input class="boxToRight" id="btnGratR" type="button" value=">" onmouseover="moveToRight(btnGratR)" onmouseout="stopMove()">
        </div>

        <article class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_depilacao.png" alt="Depilação">
            </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Depilação</p>
                    </a>
                    <p class="curCarga">Carga Horária:&nbsp;<strong>40h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>José da Silva Prado</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                </div>
        </article>

        <article class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_trat_facial.png" alt="Tratamento Facial"/>
            </div>
            <div class="curInfo">
                <a href="#">
                    <p class="curNome">Tratamento Facial</p>
                </a>
                <p class="curCarga" >Carga Horária:&nbsp;<strong>30h</strong></p>
                <p class="curTutor">Professor(a):&nbsp;<strong>Josiane Fernandes da Cunha</strong></p>
                <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
            </div>
         </article>   
             

    </section>
       
        <h2>Cursos Pagos</h2>
        <hr>
    <section name="cursosPagos" class="curBox" id="movePago">
        
        <div class="moveButtons" >
            <input class="boxToLeft" id="btnPagoL" type="button" value="<" onmouseover="moveToLeft(btnPagoL)" onmouseout="stopMove()">
            <input class="boxToRight" id="btnPagoR" type="button" value=">" onmouseover="moveToRight(btnPagoR)" onmouseout="stopMove()">
        </div>

            <article class="curContainer"> 
                <div class="curImg">
                    <img src="/images/cursos/cur_harm_facial.png" alt="Harmonização Facial">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Harmonização Facial</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>50h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Maria Fernanda da Graça</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;100,00</strong></p>
                </div>
            </article>
            
            <article class="curContainer">
                <div class="curImg">
                    <img src="/images/cursos/cur_sobrancelha.png" alt="">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Sobrancelha</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>100h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Adalberta Reginalda</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;1200,00</strong></p>
                </div>
            </article>

            <article class="curContainer">
                <div class="curImg">
                    <img src="/images/cursos/cur_maquiagem.png" alt="">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Maquiagem</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>200h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Aderbaldo Garcia</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;500,00</strong></p>
                </div>
            </article>
    </section>

        <h2>Melhores os Cursos</h2>    
        <hr>
    <section name="cursosMelh" class="curBox" id="moveMelh">
        
        <div class="moveButtons" >
            <input class="boxToLeft" id="btnMelhL" type="button" value="<" onmouseover="moveToLeft(btnMelhL)" onmouseout="stopMove()">
            <input class="boxToRight" id="btnMelhR" type="button" value=">" onmouseover="moveToRight(btnMelhR)" onmouseout="stopMove()">
        </div>

            <article class="curContainer"> 
                <div class="curImg">
                    <img src="/images/cursos/cur_harm_facial.png" alt="Harmonização Facial">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Harmonização Facial</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>50h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Maria Fernanda da Graça</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;100,00</strong></p>
                </div>
            </article>
            
            <article class="curContainer">
                <div class="curImg">
                    <img src="/images/cursos/cur_depilacao.png" alt="Depilação">
                </div>
                    <div class="curInfo">
                        <a href="#">
                            <p class="curNome">Depilação</p>
                        </a>
                        <p class="curCarga">Carga Horária:&nbsp;<strong>40h</strong></p>
                        <p class="curTutor">Professor(a):&nbsp;<strong>José da Silva Prado</strong></p>
                        <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                    </div>
            </article>

            <article class="curContainer">
                <div class="curImg">
                    <img src="/images/cursos/cur_trat_facial.png" alt="Tratamento Facial"/>
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Tratamento Facial</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>30h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Josiane Fernandes da Cunha</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                </div>
            </article>   
                
            <article class="curContainer">
                <div class="curImg">
                    <img src="/images/cursos/cur_maquiagem.png" alt="Maquiagem">
                </div>
                <div class="curInfo">
                    <a href="#">
                        <p class="curNome">Maquiagem</p>
                    </a>
                    <p class="curCarga" >Carga Horária:&nbsp;<strong>200h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>Aderbaldo Garcia</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;500,00</strong></p>
                </div>
            </article>
    </section>

    </main>
    <%- include('partes/footer') %>
    <script>

    let toLeft = 0;
    let toRight = 0;
    let beforeClick = undefined;
    let seccondClick = false;
    let open = false;   

    function toFrame(idCur,titleCur){           
        let btnTitle = document.querySelector(titleCur);
        const section = document.querySelector('#curInd');
        let frame = document.querySelector('#curFrame');
        
        if (!open){
            btnTitle.setAttribute('style', 'background-color: #FFEA98;');   //------- define o backgroud do titulo do click 1 para amarelo
            section.setAttribute('style', 'display: unset;');   //---------------- abre  frame inferior
            let art = '#' + document.querySelector(idCur).id;   //---------------- atribui o src no frame
            frame.setAttribute('src', ('/cursoInd' + (art)));   
            seccondClick = true;                    //---------------- variaveis de controle
            open = true;
            beforeClick = btnTitle;              //---------------- recebe o valor do backgroud do click 1 para depois retirar no item 2
        } else if (open && seccondClick)  {     //---------------- se aberto e clicado em outro titulo
            frame.removeAttribute('src');       //---------------- remove src do frame
            beforeClick.setAttribute('style', 'background-color: "";'); //---------------- muda o valor do background do titulo anterior para branco
            btnTitle = document.querySelector(titleCur);  //---------------- coloca o novo src no frame
            btnTitle.setAttribute('style', 'background-color: #FFEA98;');
            setTimeout(function(){                  
                let art = '#' + document.querySelector(idCur).id;   // ----------------aguarda 10ms e atribui o src no frame e
                frame.setAttribute('src', ('/cursoInd' + (art)));
            }, 100);
            beforeClick = btnTitle;  //---------------- variaveis de controle
            open = true;
            seccondClick = false;
        } else{
            frame.removeAttribute('src');   //---------------- remove o src do frame
            beforeClick.setAttribute('style', 'background-color: "";');     //---------------- muda o valor do background do titulo anterior para branco
            btnTitle.setAttribute('style', 'background-color: "";');    //---------------- muda o valor do background do titulo para branco
            section.setAttribute('style', 'display: none;');    //---------------- fecha o frame
            open = false;            //---------------- variavel de controle
            seccondClick = true;
        }                   
    }
    
    // Funções para não aparecer barras de bot~eos não 'scrollable'
    const curBoxTodo = document.querySelector('.curBox#moveTodo');
    const curBoxGrat = document.querySelector('.curBox#moveGrat');
    const curBoxPago = document.querySelector('.curBox#movePago');
    const curBoxMelh = document.querySelector('.curBox#moveMelh');
    
    const scrollAnalyse = [
        curBoxTodo,
        curBoxGrat, 
        curBoxPago,
        curBoxMelh
    ];

    const notScrollable = scrollAnalyse.filter(Box => !isScrollable(Box));
    const notScrollLeft = scrollAnalyse.filter(Box => haveScrollLeft(Box));

    function isScrollable(Box) {
        const scrollable = Box.scrollWidth > window.innerWidth;
        return scrollable;            
    };

    function haveScrollLeft(Box){
        const boxLeftScroll = Box.scrollLeft == 0;
        return boxLeftScroll;
    };

        let btnR = undefined;
        let btnL = undefined;
    for (const item of notScrollable){
        switch (item.id){
            case 'moveTodo':
                btnR = document.querySelector('#btnTodoR');
                btnL = document.querySelector('#btnTodoL');
                break;
            case 'moveGrat':
                btnR = document.querySelector('#btnGratR');
                btnL = document.querySelector('#btnGratL');
                break;
            case 'movePago':
                btnR = document.querySelector('#btnPagoR');
                btnL = document.querySelector('#btnPagoL');
                break;
            case 'moveMelh':
                btnR = document.querySelector('#btnMelhR');
                btnL = document.querySelector('#btnMelhL');
                break;
            default: undefined;                        
        }
        btnR.setAttribute('style', 'display: none;');
        btnL.setAttribute('style', 'display: none;');
        item.setAttribute('style', 'padding-right: 42%;');
    };
    
    for (const item of notScrollLeft){
        if (notScrollLeft){
            switch (item.id){
            case 'moveTodo':
                btnL = document.querySelector('#btnTodoL');
                break;
            case 'moveGrat':
                btnL = document.querySelector('#btnGratL');
                break;
            case 'movePago':
                btnL = document.querySelector('#btnPagoL');
                break;
            case 'moveMelh':
                btnL = document.querySelector('#btnMelhL');
                break;
            default: undefined;                        
        }
            btnL.setAttribute('style', 'display: none;');
        } else {
            btnL.setAttribute('style', 'display: unset;');
        }
    };
    // Função habilitar esquerda <

    function enableLeftMove(paramL){
        if (paramL.scrollLeft > -1) {
            paramL.setAttribute('style', 'display: unset;');
        }
    };
        
    // Funções para mover as boxes <   >
    function moveToRight(paramR, paramL){
        const mousePosR = paramR.id;
        switch (mousePosR){
            case 'btnTodoR':
                curBox = curBoxTodo;
                break;
            case 'btnGratR':
                curBox = curBoxGrat;
                break;
            case 'btnPagoR':
                curBox = curBoxPago;
                break;
            case 'btnMelhR':
                curBox = curBoxMelh;
                break;
            default:
                curBox = undefined;
        };
        if ((curBox.scrollWidth - curBox.scrollLeft) <= window.innerWidth) {
            paramR.setAttribute('style', 'display: none;');
            return;
        } else {
            setTimeout(function() { 
                curBox.scrollLeft += 2;
                moveToRight(paramR);
            }, 4)
        }
    };

    function moveToLeft(paramL){
        const mousePosL = paramL.id;
        switch (mousePosL){
            case 'btnTodoL':
                curBox = curBoxTodo;
                break;
            case 'btnGratL':
                curBox = curBoxGrat;
                break;
            case 'btnPagoL':
                curBox = curBoxPago;
                break;
            case 'btnMelhL':
                curBox = curBoxMelh;
                break;
            default:
                curBox = undefined;
        }
        if (toLeft < curBox.scrollLeft){
            return;
        } else {
            setTimeout(function() {                 
                curBox.scrollLeft -= 2;
                toLeft -= 2;
                toRight -= 2;
                moveToLeft(paramL);
            }, 4)
        }
    };   

    function stopMove(){
        toLeft = curBox.scrollLeft - 10;
        toRight = curBox.scrollLeft + 10;
        setTimeout(function() {                 
            toLeft = curBox.scrollLeft + 10;
            toRight = curBox.scrollLeft - 10;    
            }, .01)      
    };

    </script> 
</body>
</html>