
<%- include('partes/inicioHead') %>

<link rel="stylesheet" href="/css/styleInicial.css">
</head>
<body>
<%- include('partes/menuNavecacao') %>
    <main class="conteudo">
</head>
<body>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="testeslide01.jpg" style="width:100%; height:300px;">
  <div class="text">Curso aleatorio</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="testeslide02.jpg" style="width:100%; height:300px;">
  <div class="text">Curso aleatorio</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="testeslide03.jpg" style="width:100%; height:300px;">
  <div class="text">Curso aleatorio</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 1000); 
}
</script>

    </main>
    <%- include('partes/footer') %>
</body>
</html>

