<%- include('partes/inicioHead') %>
<title>Painel Admin</title>
<link rel="stylesheet" href="css/painelAdmin.css">
<%- include('partes/menuNavecacao') %>

<div class="container">

    <div id="menu-coluna">
        <h2>dsdshdjs</h2>
        
        </div>
        
        <div id="retangulo-admin" >
        <h2>sdsd</h2>
        
        </div>

</div>



<%- include('partes/footer') %>