
<%- include('partes/inicioHead') %>
<link rel="stylesheet" href="/css/cursos.css">
</head>
<body>
<%- include('partes/menuNavecacao') %>
    <main class="conteudo">

    <h1 id="title">Cursos</h1>

    <h2>Melhores Cursos</h2>
    <hr>

    <section name="cursosTodos" class="curBox">
        
        <div class="moveButtons">
        <input class="boxToLeft" type="button" value="<" onmouseover="moveToLeft()" onmouseout="stopMove()" onclick="moveLeftPlus()">
        <div class="spaceBetween"></div>
        <input class="boxToRight" type="button" value=">" onmouseover="moveToRight()" onmouseout="stopMove()" onclick="moveRightPlus()">
        </div>

        <article class="curContainer"> 
            <div class="curImg">
                <img src="/images/cursos/cur_harm_facial.png" alt="Harmonização Facial">
            </div>
            <div class="curInfo">
                <a href="#">
                    <p class="curNome">Harmonização Facial</p>
                </a>
                <p class="curCarga" >Carga Horária:&nbsp;<strong>50h</strong></p>
                <p class="curTutor">Professor(a):&nbsp;<strong>Maria Fernanda da Graça</strong></p>
                <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;100,00</strong></p>
            </div>
        </article>
        
        <article class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_depilacao.png" alt="Depilação">
            </div>
                <div class="curInfo">
                    <p class="curNome">Depilação</p>
                    <p class="curCarga">Carga Horária:&nbsp;<strong>40h</strong></p>
                    <p class="curTutor">Professor(a):&nbsp;<strong>José da Silva Prado</strong></p>
                    <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
                </div>
        </article>

         <article class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_trat_facial.png" alt="Tratamento Facial"/>
            </div>
            <div class="curInfo">
                <p class="curNome">Tratamento Facial</p>
                <p class="curCarga" >Carga Horária:&nbsp;<strong>30h</strong></p>
                <p class="curTutor">Professor(a):&nbsp;<strong>Josiane Fernandes da Cunha</strong></p>
                <p class="curVal">Valor:&nbsp;<strong>GRÁTIS&nbsp;!</strong></p>
            </div>
         </article>   
             
        <article class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_sobrancelha.png" alt="">
            </div>
            <div class="curInfo">
                <p class="curNome">Sobrancelha</p>
                <p class="curCarga" >Carga Horária:&nbsp;<strong>100h</strong></p>
                <p class="curTutor">Professor(a):&nbsp;<strong>Adalberta Reginalda</strong></p>
                <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;1200,00</strong></p>
            </div>
        </article>

        <div class="curContainer">
            <div class="curImg">
                <img src="/images/cursos/cur_maquiagem.png" alt="">
            </div>
            <div class="curInfo">
                <p class="curNome">Maquiagem</p>
                <p class="curCarga" >Carga Horária:&nbsp;<strong>200h</strong></p>
                <p class="curTutor">Professor(a):&nbsp;<strong>Aderbaldo Garcia</strong></p>
                <p class="curVal">Valor:&nbsp;<strong>R$&nbsp;500,00</strong></p>
            </div>
        </div>
    </section>

    <h2>Cursos Gratuítos</h2>
    <hr>
       
    <h2>Cursos Pagos</h2>
    <hr>

    <h2>Todos os Cursos</h2>    
    <hr>

    <script>
        let toLeft = 0;
        let toRight = 0;
        const curBox = document.querySelector('.curBox');
        const btnLeft = document.querySelector('boxToLeft')
        const btnRight = document.querySelector('boxToRight')

        function moveToRight(){        
            if (toRight > curBox.scrollLeft){
                return;
            } else {
                setTimeout(function() {                 
                    curBox.scrollLeft += 2;
                    toLeft += 2;
                    toRight += 2;
                    moveToRight()
                }, 4)
            }
        }

        function moveToLeft(){
            if (toLeft < curBox.scrollLeft){
                return
            } else {
                setTimeout(function() {                 
                    curBox.scrollLeft -= 2;
                    toLeft -= 2;
                    toRight -= 2;
                    moveToLeft()
                }, 4)
            }
        }   

        function stopMove(){
            toLeft = curBox.scrollLeft -100
            toRight = curBox.scrollLeft + 100
            setTimeout(function() {                 
                toLeft = curBox.scrollLeft +100
                toRight = curBox.scrollLeft -100    
                }, 1)      
        }
    </script>        
    </main>
    <%- include('partes/footer') %>
</body>
</html>