<title>Redefinir Senha</title>
<link rel="stylesheet" href="css/resetPassword.css">
<%- include('partes/menuNavecacao') %>
<body>
    <main>
        <div class="titulo">
            <h1>Refetinição de Senha</h1>
            <h3>Informe os Dados abaixo</h3>
            <hr>
        </div>
        <div>
            <form action="">
                <fieldset id="resetPass">
                    
                    <div class="reset">
                        <label for="resetSenha"></label>
                        <input type="email" class="email"  required placeholder="Informe E-mail Cadastrado"><br>
                    </div>
                    <div class="campo">
                            <label for="dataNascimento"> </label>
                            <input type="date" class="dataNascimento" size="50" name="nome" requerid>
                        </div><br>
                
                    <div class="botaoReset"><button type="submit" class="botao"> Redefinir</button>
                    </div>
                </fieldset>
                
         
            </form>
        </div>
        
        
        </main>
        
<%- include('partes/footer') %>    
</body>

