<%- include('partes/inicioHead') %>
<title>E-Commerce | Certificados</title>
<link rel="stylesheet" href="../public/css/certificados.css">
</head>
<body>
    <h1>Certificados</h1>
    <h4>Desenvolvedor: Vamo que vamo</h4>
    </footer>
</body>
</html>