<%- include('partes/inicioHead') %>
    <link rel="stylesheet" href="../css/certificados.css">
</head>

<body>
    <%- include('partes/menuNavecacao') %>
<main class="conteudo">   
        <input type="button" clss="buttPdf" value="Gerar PDF" onclick="gerarPDF()">
    <h1 id="titulo">Certificado</h1>
    <section class="certificado">
        <article class="certCabecalho">
            <div class="certLogo">
                <img src="/images/empresa_logo.png" alt="Logo da Empresa" width="150px">
            </div>
            <div class="certParceiro_1">parceria</div>
            <div class="certParceiro_2">parceria</div>
            <div class="certParceiro_3">parceria</div>
            <div class="certParceiro_4">parceria</div>
        </article>
        <div class="certTitulo">CERTIFICADO</div>
        <article class="certConteudo">
            Certificaos que o alun(a) <strong>Fulano De Tal</strong> concluiu o curso de <strong>Depilação Profissional</strong>, ministrado por <strong>Maria Fulana</strong>, com carga horária de <strong>400</strong> horas em <strong>30 de Fevereiro de 2015</strong>.
        </article>
        <article class="certAss">
            <div class="ass_1">
                <!-- <hr width="50%"> -->
                Aluno(a)
            </div>
            <div class="ass_2">
                <!-- <hr> -->
                Ministrante
            </div>
            <div class="ass_data">
                <!-- <hr> -->
                Data
            </div>
        </article>
        <article class="certRodape">
            <div class="certCnpj">CNPJ</div>
            <div class=certEndereco>Endereço</div>
            <div class="certCodValidacao">Cod Valicação</div>
            <div class="certEmissao">data de Emissão</div>
        </article>
    </section>
</main>
    <script>
        const pdf = require("html-pdf");
        const ejs = require("ejs")
        function gerarPDF () {
            console.log(pdf);
            console.log(ejs)
            ejs.renderFile('./paginaCertificados.ejs', {}, (err,html) =>{
                if(err){
                    console.log("Erro");
                }else{
                    pdf.create(html, {"orientation": "landscape","base": "/css/certificado.css"}).toFile("./certificado.pdf", (err,res) =>{
                        if(err){
                            console.log("Um erro aconteceu: :(");
                        } else {
                            console.log("res");
                        }
                    });
                }
            });
        }
    </script>
    <%- include('partes/footer') %>
</body>
</html>