<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cursosInd.css">
    <title>Document</title>
</head>
<body>
    <main class="conteudo">
        
        <section name="harm_facial" class="frameCur" id="cur_harm_facial" >
            <div class="curContent">
                <h1>HARMONIZAÇÃO FACIAL</h1>
                <p class="pDesc"><strong>Descrição do Curso:&nbsp;</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, earum! Dicta odit deleniti doloribus aut ipsa, quo repellat placeat sint eum molestiae tempora repudiandae voluptates rerum omnis, itaque ad ullam?</p>
                <p class="pConteudoProgramatico"><strong>Conteúdo Programático:&nbsp;</strong>
                    <ul>
                        <li><strong>Fase&nbsp;1:&nbsp;</strong>Lorem ipsum dolor.</li>
                        <li><strong>Fase&nbsp;2:&nbsp;</strong>Non neque accusantium laudantium!</li>
                    </ul>
                </p>
                <span class="pValor"><strong>R$ 500,00</strong></span>
                <input src="#" type="button" value="COMPRAR">
                <input src="#" type="button" value="Adicionar ao carrinho">
            </div>
        </section>
        
        <section name="harm_facial" class="frameCur" id="cur_depilacao">
            Omnis expedita voluptatibus sint rem rerum tempora quasi corporis optio quia nulla neque cumque doloremque, accusamus iure ducimus amet. Dolorem, mollitia atque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cupiditate consequuntur praesentium nemo inventore distinctio ea maiores ut autem, quisquam nulla hic alias fuga molestias illo. Rerum aliquid ratione assumenda.
        </section>
    </main>
</body>
</html>