<title>E-commerce | Home</title>
<link rel="stylesheet" href="../public/css/">
</head>
<body>
    <%- include('partes/menuNavecacao') %>
    <main class="conteudo">

    </main>
    <%- include('partes/footer') %>
</body>
</html>