<%- include('partes/inicioHead') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <%- include('partes/menuNavecacao') %>

    <hr>
    <h1>Cadastrar</h1>
        <hr>
    <form class="" action="" method="POST">
        <div class="form-control">
            <label for="title">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="form-control">
            <label for="title">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="title">Senha</label>
            <input type="text" name="senha" id="senha">
        </div>
        <button class="btn" type="submit">Cadastrar </button>
    </form>
    <footer>
        <h3>Fale Conosco</h3>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
        </ul>

        <h4>Desenvolvedor: Vamo que vamo</h4>

    </footer>
</body>
</html>