.conteudo{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding-bottom: 10%;
}

h1#title{
    text-align: center;
    text-shadow: 1px 1px 2px #FFD700, 0 0 1em #FFDD4C, 0 0 0.2em white;
    text-transform: uppercase;
    height: 130px;
    padding-top: 2.5%;
    margin-top: 5%;
    font-size: 50px;
    background-image: url('/images/carrinho/img_titulo_carrinho.jpeg');
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
}

section#conteudoCarrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    height: 100%;
    margin: 2.5% auto;
}
aside#maisProdutos{
    border: 1px solid black;
    height: 100%;
    max-height: 400px;
    width: 15%;
}

section#carrinho{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    width: 85%;
    margin: 0;
    padding: 0;
}

#carrinho h2{
    text-align: center;
    background-color: #FFEA98;
    font-size: 28px;
    height: 40px;
    margin: 0;
    padding: 0;
}

#carrinho ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 80%;
    margin: 0 1%;
    padding: 0;
}

.carItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

#gambiarra{
    justify-self: center;
}

.itemValor{
    background-color: transparent;
    border: none;
    width: 80px;
    margin: 0;
    padding: 0;
}

.carItem div{
    width: 30%;
    text-align: center;
}
.carCurQtde{
    display: flex;
}

.carCurQtde p{
    width: 30%;
    margin: 0 auto;
    padding: 0;
}

.carCurQtde input{
    width: 15%;
    user-select: none;
    text-align: center;
}

.carCurQtde button{
    width: 20%;
    border: none;
    background-color: #FFEA98;
}

#carTotal{
    display: flex;
    background-color: #FFEA98;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}
#carTotal input{
    height: 80%;
    margin: auto;
    border: none;
}

#showTotal, #boxDesconto{
  background-color: white;
  text-align: center;
}

#carTotal h2{
    margin: auto;
}

#txtCupom{
    font-size: 16px;
    text-align: center;
    width: 25%;
    margin: auto;
    margin-right: 0;
}

/* Estilo modal de cupons */

#btnToCupom {
  display: flex;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.highlights input{
  width: 0;
  height: 0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0.5s ease-in-out;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  height: 50%;
  overflow: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
  
.modal-content p {
  padding-top: 10px;
  text-align: justify;
}

.modal-content label{
  border: none;
  background-color: #FFEA98;
  padding:  5px;
}

.addCodDesconto{
  border: none;
  background-color: #FFEA98;
  padding:  5px;
}

#codInvalido{
  color: red;
  text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.5);
  display: none;
}

#codValido{
  color: green;
  text-shadow: 1px 1px 3px rgba(0, 128, 0, 0.5);
  display: none;
}

#outroCupom{
  color: red;
  text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.5);
  display: none;
}

#outroCupom span{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.modalClose {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modalClose:after {
  content: "X";
  float: right;
  margin: 5px 5px 0 0;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  box-shadow: 0 0 3px #000;
}

input[id*="modalDescontos"] {
  position: fixed;
  left: -9999px;
  top: 50%;
  opacity: 0;
}

input[id*="modalDescontos"]:checked + div.modal{
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

input[id*="modalDescontos"]:checked + div.modal .modalContent {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

#teste{
  margin-top: 10px;
  padding: 0;
}

