@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Rajdhani:wght@300&display=swap');
h1{
    text-align: center;
}
#buttPdf{
    float: center;
}
#certificado{
    position: static;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill,);
    border: 2px solid black;
    width: 800px;
    height: 566px;
}
.certCabecalho{
    display: flex;
    flex: 100%;
    background: url('/images/certificado/cert_cabecalho.png') no-repeat;
    height: 13%;
}
#certLogo{
    width: 20%;
}
#certLogoImg{
    width: 100%;
}
.certParceiro{
    flex: 1;
    margin: .5%;
    width: 8%;
    height: 60%;
    align-self: start;
    text-align: center;
}
.certParceiro #parc1{
    width: 50%;
}

.certTitulo{
    flex: 1;
    font-size: 150%;
    text-align: center;
}
article.certConteudo{
    text-align: justify;
    justify-self: center;
    align-self: center;
    /* height: 46.5%; */
    padding: 3% 2%;
    font-size: 200%;
    font-family: 'Petemoss', cursive;

}
article.certAss{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding-top: 4%;
    text-align: center;
    font-weight: bolder;
    font-size: 120%;
    font-family: 'Petemoss', cursive;
}
.ass_1,
.ass_2{
    flex: 50%;
    text-align: center;
    /* border: 1px solid black; */
}
.ass_data{
    flex: 100%;
    text-align: center;
}

article.certRodape{
    display: flex;
    flex: 100%;
    align-self: end;
    background: url('/images/certificado/cert_rodape.png') no-repeat;
    height: 13%;
}
.certCnpj,
.certEndereco,
.certCodValidacao,
.certEmissao{
    flex: 1;
    align-self: end;
    text-align: center;
}
/* Opções de media */

/* media < 800px */
@media(max-width: 800px){
    #certificado{
        width: 100vw;
    }
}

/* media < 400px */
#media-400{
    display: flex;
    flex-direction: column-reverse;
}

#media-400 p{
    margin-top: 40%;
    text-align: center;
}

#media-400 img{
    width: 100vw;
}

#media-400{
    display: none;
}
@media(max-width: 400px){
    #certificado{
        display: none;
    }
    #media-400{
        display: unset;
    }
}

