@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*{
    box-sizing: border-box;
}
body{
    font: normal 12pt;
    overflow: hidden;
    font-size: 10pt;
    font-family: 'Road Rage';
}
.frameCur{
    border: 2px solid #FFEA98;
    background-color: #ffea987a;
    width: 100%;
    height: 380px;
    overflow-y: hidden;
    margin: 0 0 100px 0;
}
.curContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1%;
}
.curContent h1{
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 3px;
}
.curContent p{
    font-size: 18px;
    margin: 0;
    padding: 2px;
}
.pDesc{
    width: 100%;
}
.curContent Ul{
    width: 100%;
}
.curContent li{
    font-size: 18px;
}
.curContent .pValor{
    color: red;
    font-size: 24px;
    border: 2px solid #FFEA98;;
}
.curContent .pValor, input{
    margin: 0;
    padding: none 10%;
}
.linkCarrinho{
    text-decoration: none;
}
.addCarrinho{
    border: none;
    font-size: 10px;
    color: black;
    text-align: center;
    font-weight: 400;
}
#imgCarrinho{
    width: 10%;
    margin-left: 3%;
}