.secFooter{
    flex: 0 1;
    position: relative;
    bottom: 0;
    margin-top: .5in;
    margin-bottom: 0px;
    height: 1in;
    border: 1px solid #e7e7e7;
    width: 100%;
    background-color: #FFF8DD;
}
#copyRight{
    font-size: 8pt;
    float:left;
    margin-left: 2%;
    padding-top: 2ch;
    padding-right: 3ch;

}
/* style links das redes sociais */
.linksRedes{
  margin-top: -8vh;
  padding: 0px;
  max-height: .9in;
  height: 8vh;
  width: 20vw;
  float: right;
}
.linksRedes li{
  margin: 0px;
  padding: 0px;
  max-height: .9in;
  margin-right: 5%;
  display: inline-block;
}   
.imgRedes{ 
    margin: 0px;
    padding: 0px;
    max-height: .9in;
    width: 20px;
    filter: invert(84%) sepia(38%) saturate(3839%) hue-rotate(6deg) brightness(100%) contrast(102%);
}
/* style lista Navegação*/
.navegacao{
  margin-left: 25%;
  height: 10vh;
  width: 30vw;
}
.navegacao h4{
  font-size: 12pt;
  text-align: left;
}
.footerNavegacao li{
  text-align: left;
  list-style-type: none;
  text-decoration: none ;
  border: none;
  font-size: 8pt;
}

/* style Links Úteis */
.linksUteis{
  margin-left: 50%;
  margin-top: -10vh;
  height: 10vh;
  width: 30vw;
}
.linksUteis h4{
  font-size: 12pt;
  text-align: left;
}
.footerLinksUteis li{
  text-align: left;
  list-style-type: none;
  text-decoration: none ;
  border: none;
  font-size: 8pt;
}
/* BArra de validação de certificado */
div#divValid{
  float: right;
  margin-top: -4vh;
}
input#txtValid{
  float:left;
  background-color:white;
  font-style:italic;
  font-size: 16px;
  box-shadow: 0 0 0 0;
  border: none;
  outline: 0;
}
