@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, rgb(239, 201, 0),rgb(255, 217, 0),rgb(255, 221, 76),rgb(255, 228, 116),hsl(48, 100%, 80%),rgb(255, 241, 186),rgb(255, 248, 219));
}
.conteudo{
    flex: 1 0 auto;
}
ul#ulNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li.linav{
    float: right;
}
li.linav a.linkNav{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li.linav a.linkNav:hover:not(.active) {
    background-color: #ddd;
} 
li.linav a.linkNav.active {
    color: white;
    background-color: #04AA6D;
}