.container{
    display:flex; 
    padding:0%;
    height: auto;
}

#menu-coluna{
    background-color: gray;
    width: 30%;
    border-radius: 5%;
    height: auto;
    margin-bottom: 5%;
    margin-right: 1%;
}

#menu-coluna>#foto-perfil{
    padding-top: 15%;
    color: aqua;
    text-align: center;
}

#menu-opcoes{
    padding-top: 10%;
    margin-left: 10%; 
}

#menu-opcoes>a{
   color: black;
   text-decoration: none;
}

#retangulo-admin{
    background-color: burlywood;
    width: 70%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 5%;
 }

form{
    padding-top: 5%;
    padding-left: 5%;
    font-size: 22px;
}

form>input{
    margin-top: 5%;
    width:80%;
   
}

select{
    margin-top: 5%;
}

button{
    margin-top: 5%;
}