.botao{
    font-size: 1.2em;
    background: #FFD700;
    border:0;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translate(-50, -50%);
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
}
.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
}
#reset{
        width: 800px; 
        margin-left: auto;
        margin-right: auto; 
}
.titulo{
    color: #FFD700;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 00.2em;
        font-family: sans-serif;
}

.reset input[type="email"],input[type="date"]{
    
        padding: 00.2em;
        border: 1px  solid #FFDD4C;
        box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
        display: block;
        width: 400px; 
        margin-left: auto;
        margin-right: auto; 
        padding: 00.2em;

}
.botaoReset{
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
    display: block;

}