#eventos{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
-webkit-box-align: end;
-webkit-align-items: flex-end;
    -ms-flex-align: end;
        align-items: flex-end;
-webkit-box-pack: center;
-webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;

}
.eventosPartes{
    margin: 10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    background-color: white;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.eventosPartes:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.eventoTexto{
        width: 90%;
}
.eventoTexto2{
    width: 90%;
    font-weight: bold;
    font-size: 3ch;
}