@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

  * {box-sizing: border-box}
  body {font-family: 'Road Rage'; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  * {box-sizing: border-box}
  .mySlides1, .mySlides2 {display: none}
  img {vertical-align: middle;}
  
  
  .slideshow-container {
    width: 100%;
    margin-top: -2.6%;
  }
  
 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .prev:hover, .next:hover {
    background-color: #FFF1BA
    ;
    color: black;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #FFF8DD;
    border-radius: 50%;
    border: #FFE474 2px solid;
    display: inline-block;
    transition: background-color 0.6s ease;
   
  }
  #dotCenter{
    margin-left: 2%;
    margin-top: -10px;
    position: absolute;
    float:left;
  }
  
.active, .dot:hover {
  background-color:  #FFE474;
}

/*
.
.
.
.
*/

#tituloCursoRecomendado{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  width: 700px;
  text-align: center;
  font-size: 04ch;
  font-weight: bold;
}

#informacaoCursoRecomendado{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  width: 1000px;


}

#sobreCursoRecomendado{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(248, 234, 234, 0.582), transparent);  
  border-left-style: ridge;
  float: right;
  width: 50%;
  height: 300px;
  padding: 0;
}
.textoSobreCursoRecomendado{
  padding-left: 2%;
}
/*
.
.
*/

.text-box {
float: right;
padding-right: 20%;
padding-top: 7%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: flex;
  border-radius: 100px;
  transition: all .2s;
  position: flex;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #FFEA98;
  color: #777;
}

.btn::after {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: flex;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color:#FFEA98;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}