<div id="menu-coluna">
        
    <div id="foto-perfil">
        <img src="/images/admin/perfilAdmin.jpeg">
        <p>email@gmail.com</p>
    </div>
    <nav id="menu-opcoes">
        <a href="/admin/cadastrar_aluno"><h4>Cadastrar Alunos</h4></a> 
        <br>
        <a href="/admin/cadastrar_professor"><h4>Cadastrar Professores</h4></a> 
        <br>
        <a href="/admin/cadastrar_curso"><h4>Cadastrar Cursos/Turmas</h4></a> 
        <br>
        <a href="/admin/cadastrar_postagem"><h4>Cadastrar Postagens</h4></a>
        <br>  
    </nav>
</div>

