<div class="push"></div>
<footer class="footer">
    <section class="secFooter">
        <p id="copyRight" text="&copy;">&copy E-commerce PI<br>
            versão 1.0.0
        </p>
    <!-- Links de navegação -->
    <div id="footerCenter">
        <div id="navegacao">
            <h4>Navegação</h4>
            <ul class="footerNavegacao">
                <li class="liUteis"><a href="#">Termos de Uso</a></li>
                <li class="liUteis"><a href="#">Políticas de Privacidade</a></li>
                <li class="liUteis"><a href="#">Sobre Nós</a></li>
            </ul>
        </div>
        <!-- Links úteis -->
        <div id="linksUteis">
            <h4>Links Úteis</h4>
            <ul class="footerLinksUteis">
                <li class="liUteis"><a href="#">Links Úteis</a></li>
                <li class="liUteis"><a href="#">Links Úteis</a></li>
                <li class="liUteis"><a href="#">Links Úteis</a></li>
            </ul>
        </div>
    </div>
<!-- Links para as redes sociais -->
    <div id="footerRightSide">
        <div class="linksRedes">
            <div class="redes">
                <a class="linksRedes" href="http://Facebook.com/" target="_blank">
                    <img id="imgFace" src="/images/footer/facebook.svg" alt="Facebook">
                </a>
            </div>
            <div class="redes">
                <a class="linksRedes"href="http://youtube.com/" target="_blak">
                    <img id="imgYout" src="/images/footer/youtube.svg" alt="YouTube">
                </a>
            </div> 
            <div class="redes">
                <a class="linksRedes"href="http://instagram.com/" target="_blank">
                    <img id="imgInst" src="/images/footer/instagram.svg" alt="Instagram">
                </a>
            </div>
        </div>
        <div id="divValid">
            <img src="/images/footer/iconePesquisa_footer.jpg" id="btnBusca" alt="Buscar"/>
            <input type="text" id="txtValid" placeholder="Validar Certificado..."/>
        </div>
    </div>    
    </section>
<!-- Controle de uso de Cookies -->
    <div class="cookContainer">
        <div class="cookContent">
        <p>Este site utiliza cookies para aprimorar a experiência do usuário.</p>
        <div class="cookPref">
            <label><input type="checkbox" class="cookAccept" checked >Aceitar uso de cookies</label>
        </div>
        <button class="cookSave">Salvar e Continuar</button>
        </div>
    </div>
    <script>
        function cookies(){
            const localPref = JSON.parse(window.localStorage.getItem('cookiesPref'))
            const container = document.querySelector('.cookContainer')
            console.log('Aceitou uso de cookies: ', localPref)
                if (localPref){
                        container.style.display = 'none';
                    }                 
            const save = document.querySelector('.cookSave')
            function cookPref(){
            const pref = Boolean(document.querySelector('.cookAccept').checked)
                if (!pref){
                    container.style.display = 'none';
                }
                window.localStorage.setItem('cookiesPref', pref)
                container.style.display = 'none';
            }
            save.addEventListener('click', cookPref)
        }
        cookies()
    </script>    
</footer>   