<link rel="stylesheet" href="/css/footer.css">
<footer id="footer">
<ul id="ul-redes-sociais">
    <li class="rede-social">
        <a class="linkFooter" href="http://Facebook.com/" target="_blank">
            <img class="imgRedes" src="/images/facebook.svg" alt="Facebook">
        </a>
        </li>
    <li class="rede-social">
        <a class="linkFooter"href="http://youtube.com/" target="_blak">
            <img class="imgRedes" src="/images/youtube.svg" alt="YouTube">
        </a>
    </li>
    <li class="rede-social">
        <a class="linkFooter"href="http://instagram.com/" target="_blank">
            <img class="imgRedes" src="/images/instagram.svg" alt="Instagram">
        </a>
    </li>
</ul>
</footer>