<nav>
    <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>Cursos</a></li>
        <li><a href="/certificados">Certificados</a></li>
        <li><a href='#'>Contato</a></li>
        <li><a href='#'>Sobre</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>
<link rel="stylesheet" href="/css/menu.css">