
<nav>
    <img src="iconeSite.png" id="iconeSite"/>
    <ul id="menu">
        <li class="liMenu"><a href='/'>Home</a></li>
        <li class="liMenu"><a href='cursos'>Cursos</a></li>
        <li class="liMenu"><a href='#'>Contato</a></li>
        <li class="liMenu"><a href='certificados'>Certificados</a></li>
        <li class="liMenu"><a href='#'>Sobre</a></li>
        <li class="liMenu"><a href="login">Login</a></li>
        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="iconepesquisa.png" id="btnBusca" alt="Buscar" style="background-color: transparent;"/>
          </div>
    </ul>
    <br>

</nav>
<link rel="stylesheet" href="/css/menu.css">