
<nav>
    <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>Cursos</a></li>
        <li><a href='#'>Contato</a></li>
        <li><a href='#'>Sobre</a></li>
        <li><a href="#">Login</a></li>
        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="iconePesquisa.jpg" id="btnBusca" alt="Buscar"/>
          </div>
    </ul>
    <br>

</nav>
<link rel="stylesheet" href="/css/menu.css">