<link rel="stylesheet" href="/css/menu.css">
<nav>
    <ul id="ulNav">
        <li class="liNav"><a class="linkNav" href='#'>Home</a></li>
        <li class="liNav"><a class="linkNav" href='#'>Cursos</a></li>
        <li class="liNav"><a class="linkNav" href="/certificados">Certificados</a></li>
        <li class="liNav"><a class="linkNav" href='#'>Contato</a></li>
        <li class="liNav"><a class="linkNav" href='#'>Sobre</a></li>
        <li class="liNav"><a class="linkNav" href="#">Login</a></li>
        <li class="liNav"><a class="linkNav" href="/cadastro">Cadastro</a></li>
    </ul>
    <hr>
</nav>