
<nav>
    
    <ul id="menu">
        <img src="images/inicio/iconeSite.png" id="iconeSite"/>
        <li class="liMenu" id="primeiraLi"><a href='/'>Home</a></li>
        <li class="liMenu"><a href='cursos'>Cursos</a></li>
        <li class="liMenu"><a href='certificados'>Certificados</a></li>
        <li class="liMenu"><a href='#'>Evendos</a></li>
        <li class="liMenu"><a href="login">Login</a></li>
        <li class="liMenu"><a href="carrinho">Carrinho</a></li>
        <li class="liMenu"><a href="cadastro">Cadastro</a></li>
        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <img src="images/inicio/iconepesquisa.png" id="btnBusca" alt="Buscar" style="background-color: transparent;"/>
          </div>
    </ul>
    <br>

</nav>
<link rel="stylesheet" href="/css/cssPartes/menu.css">