<link rel="stylesheet" href="/css/cssPartes/menu.css">

<body>
    <nav>

        <ul id="menu">
            <img src="/images/inicio/iconeSite.png" id="iconeSite" />
            <li class="liMenu" id="primeiraLi"><a href='/'>Home</a></li>
            <li class="liMenu"><a href='/cursos'>Cursos</a></li>
            <li class="liMenu"><a href='/certificados'>Certificados</a></li>


            <% if(estaLogado) { %>
                <% } else { %>
                    <li class="liMenu"><a href="/login">Login</a></li>
                    <% } %>


                        <li class="liMenu"><a href="/carrinho">Carrinho</a></li>
                        <% if(estaLogado) { %>
                            <% } else { %>
                                <li class="liMenu"><a href="/cadastro">Cadastro</a></li>
                                <% } %>
                                    <li class="liMenu"><a href="/admin">Painel Admin</a></li>


                                    <% if(estaLogado) { %>
                                        <li class="liMenu" style="float: right;">
                                           
                                                <a href="/admin">Logado</a>
                                        </li>
                                        </li>
                                        <% } else { %>
                                            <li class="liMenu">
                                                <p id="sessionUsuarioLogado"></p>
                                            </li>
                                            <% } %>


        </ul>
        <br>

    </nav>
</body>