<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/cssPartes/menu.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<body>
  <nav class="menu-principal navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Home</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/cursos" class="nav-link">Cursos</a>
          </li>
          <li class="nav-item">
            <a href="/certificados" class="nav-link">Certificados</a>
          </li>
          <% if(estaLogado) { %>
            <% }else{ %>
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
              <% } %>
                <li class="nav-item">
                  <a href="/carrinho" class="nav-link">Carrinho</a>
                </li>
                <% if(estaLogado) { %>
                  <% }else{ %>
                    <li class="nav-item">
                      <a href="/cadastro" class="nav-link">Cadastro</a>
                    </li>
                    <% } %>

                      <% if(estaLogado) { %>
                        <li class="nav-item">
                          <a href="/admin" class="nav-link">Painel Admin</a>
                        </li>
                        <% }else{ %>

                          <% } %>


        </ul>

        <% if(estaLogado) { %>
          <p id="usuarioLogado"+>Logado</p>
          <% } %>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
            </form>
      </div>
    </div>
  </nav>
</body>