
<link rel="stylesheet" href="/css/styleCursoInicio.css">
<div id="linha-horizontal"></div>
<p id="tituloOutosCursos">Outros Cursos</p>
<div>
<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents">
        <img src="images/inicio/imgCursoRecomendado.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 400px;height: 300px;">
        <h2 class="slider__caption">manicure</h2>
        <p class="slider__txt">O curso ajudará a se capacitar e conseguir melhores resultados durante seus atendimentos. Manicures que estão iniciando na profissão e querem aprender do zero_Curso de manicure.<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>
      <div class="slider__contents">
        <img src="images/inicio/imgCursoRecomendado.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 400px;height: 300px;"><h2 class="slider__caption">cabelereira</h2>
        <p class="slider__txt">O curso de Cabeleireiro te ensinará cortes femininos e masculinos, penteados, escova progressiva, tratamentos capilares, colorimetria, visagismo.<br><button class="btn1 btn1-white1 btn-animate1">saiba mais..</button></p>
      </div>
      <div class="slider__contents">
        <img src="images/inicio/imgCursoRecomendado.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 400px;height: 300px;"><h2 class="slider__caption">barbeiro</h2>
        <p class="slider__txt">Ementa. Aprenda a realizar embelezamento da barba e dos cabelos masculinos, a executar procedimentos de higienização, hidratação, reconstrução, alteração da ...<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>
      <div class="slider__contents">
        <img src="images/inicio/imgCursoRecomendado.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 400px;height: 300px;"><h2 class="slider__caption">tatuador</h2>
        <p class="slider__txt">Curso de Tatuagem na Eleven. Quer aprender a tatuar do zero? Aqui você aprenderá técnicas de desenho, sombreamento e pontilhismo, traços e muito mais.<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>
    </div>
  </div>
  
