<link rel="stylesheet" href="/css/styleEventos.css">
<div id="linha-horizontal"></div>
<p id="tituloOutosCursos">Eventos</p>
<div id="eventos">
    <div class="eventosPartes">
        <img src="images/inicio/testeEvento1.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto2">Titulo de um evento (evento). O titulo para o evento, qualquer titulo para o evento mesmo.<br></p>
        <p class="eventoTexto" >Esse evento fala sobre nao sei oq mais o evento existe mais nao sei onde por isso que estamo prote......<br></p>
      </div>
      <div class="eventosPartes">
        <img src="images/inicio/testeEvento2.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto2" >Titulo de um evento (evento). O titulo para o evento, qualquer titulo para o evento mesmo.<br></p>
        <p class="eventoTexto">Esse evento fala sobre nao sei oq mais o evento existe mais nao sei onde por isso que estamo prote......<br></p>
      </div>
      <div class="eventosPartes">
        <img src="images/inicio/testeEvento3.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto2">Titulo de um evento (evento). O titulo para o evento, qualquer titulo para o evento mesmo.<br></p>
        <p class="eventoTexto">Esse evento fala sobre nao sei oq mais o evento existe mais nao sei onde por isso que estamo prote......<br></p>
      </div>

</div>