<link rel="stylesheet" href="/css/styleEventos.css">
<div id="linha-horizontal"></div>
<p id="tituloOutosCursos">Eventos</p>
<div id="eventos">
    <div class="eventosPartes">
        <img src="testeEvento1.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto">O curso ajudará a se capacitar e conseguir melhores resultados durante seus atendimentos. Manicures que estão iniciando na profissão e querem aprender do zero_Curso de manicure.<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>
      <div class="eventosPartes">
        <img src="testeEvento2.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto">O curso ajudará a se capacitar e conseguir melhores resultados durante seus atendimentos. Manicures que estão iniciando na profissão e querem aprender do zero_Curso de manicure.<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>
      <div class="eventosPartes">
        <img src="testeEvento3.png" alt="" id="imgCursoRecomendadoTamanho"style="width: 300px;height: 200px;">
        <p class="eventoTexto">O curso ajudará a se capacitar e conseguir melhores resultados durante seus atendimentos. Manicures que estão iniciando na profissão e querem aprender do zero_Curso de manicure.<br><button class="btn1 btn-white1 btn-animate1">saiba mais..</button></p>
      </div>

</div>