@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

html, body{
  margin: 0;
  padding: 0;
  background-color:#e4e4e4;
}

body {
    font-family: 'Road Rage';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul#menu {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
    width: 100%;
    font-family: 'Road Rage';
    font-weight: bold;

  }
  li.liMenu {
    float: left;
  }
  li.liMenu a {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #FFEA98;
    color: black;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
  #iconeSite{
    position: absolute;
    float: left;
    width: 100px;
    height: 50px;
    background-color: white;
    margin-left: 3%;
  }

  #primeiraLi{
  margin-left: 15%;
  }



  #divBusca{
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    float:right;
    margin-top: 10px;
    
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    font-style:italic;
    font-size:18px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    
  }
  #btnBusca{
    float:left;
    height:32px;
    font-weight:bold;
    background:#5F9EA0;
    position: relative;
    
  }